.footer__container {
  width: 320px;
  margin: 0 auto;

  @media ($tablet) {
    width: 768px;
  }

  @media ($desktop) {
    width: 1440px;
  }
}

.footer__contacts-wrapper {
  position: relative;
  padding-bottom: 15px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100vw;
    height: 1px;
    background-color: $primary;
    box-shadow: 100vw 0 0 $primary;
    opacity: 0.2;
  }

  @media ($tablet) {
    padding-bottom: 35px;
  }

  @media ($desktop) {
    display: grid;
    padding: 0 120px 95px;
    grid-template-columns: repeat(2, 600px);
    justify-content: space-between;
  }
}

.footer__content {
  padding: 37px 15px 29px;

  @media ($tablet) {
    padding: 60px 30px 38px 45px;
  }

  @media ($desktop) {
    padding: 125px 0 0;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 22px;
  font-weight: 800;
  line-height: 1;
  color: $primary;

  @media ($tablet) {
    margin-bottom: 23px;
    font-size: 25px;
  }

  @media ($desktop) {
    font-size: 35px;
  }
}

.footer__content p {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $primary;

  @media ($tablet) {
    width: 480px;
    margin-bottom: 40px;
    font-size: 16px;
  }

  @media ($desktop) {
    width: 500px;
    margin-bottom: 49px;
    line-height: 1.5;
  }
}

.footer__contacts {
  @include list-resseting;

  display: flex;
  flex-direction: column;
  gap: 30px;

  @media ($tablet) {
    flex-direction: row;
    gap: 40px;
  }

  @media ($desktop) {
    flex-direction: column;
    gap: 34px;
  }
}

.footer__contact {
  position: relative;
  display: grid;
  grid-template-columns: 22px 1fr;
  gap: 8px 10px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: $primary;
  }

  @media ($tablet) {
    grid-template-columns: 24px 1fr;

    &::before {
      width: 24px;
      height: 24px;
    }
  }

  @media ($desktop) {
    grid-template-columns: 26px 1fr;
    gap: 9px 30px;

    &::before {
      top: 12px;
      width: 26px;
      height: 26px;
    }
  }
}

.footer__contact--phone::before {
  mask-image: url("/__spritemap#sprite-phone-view");
}

.footer__contact--mail::before {
  mask-image: url("/__spritemap#sprite-mail-view");
}

.footer__contact--address::before {
  mask-image: url("/__spritemap#sprite-mark-view");
}

.footer__contact-title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: $primary;
  grid-column: 2 / 3;

  @media ($tablet) {
    font-size: 16px;
  }

  @media ($desktop) {
    font-size: 18px;
  }
}

.footer__contact-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $primary;
  text-decoration: none;
  grid-column: 2 / 3;

  @media ($tablet) {
    line-height: 1.57;
  }

  @media ($desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.footer__contact-link br {
  @media ($tablet) {
    display: none;
  }
}

.footer__map {
  @media ($desktop) {
    position: relative;
    top: 59%;
    translate: 0 -50%;
  }
}

.footer__info {
  padding: 23px 15px 20px;

  @media ($tablet) {
    display: flex;
    padding: 34px 45px 20px;
    flex-wrap: wrap;
    gap: 34px 42px;
  }

  @media ($desktop) {
    padding: 40px 120px 0;
    gap: 13px 113px;
  }
}

.footer__logo {
  display: block;
  width: 142px;
  height: 42px;
  margin: 0 auto 23px;
  color: $primary;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media ($tablet) {
    margin: 0;
  }

  @media ($desktop) {
    position: relative;
    width: 200px;
    height: 60px;
  }
}

.footer__logo svg {
  @media ($desktop) {
    position: absolute;
    left: 29px;
  }
}

.footer__list {
  @include list-resseting;

  display: grid;
  margin-bottom: 23px;
  grid-template-columns: repeat(2, 120px);
  justify-content: space-between;
  gap: 12px 0;

  @media ($tablet) {
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
    gap: 23px;
    align-items: center;
  }

  @media ($desktop) {
    width: 574px;
    margin-right: 51px;
    gap: 28px;
    align-items: start;
  }
}

.footer__item:nth-of-type(6n+1),
.footer__item:nth-of-type(6n+3) {
  grid-column: 1;
}

.footer__item:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}

.footer__item:nth-of-type(3) {
  grid-column: 1;
  grid-row: 3;
}

.footer__item:nth-of-type(4),
.footer__item:nth-of-type(5),
.footer__item:nth-of-type(6) {
  grid-column: 2;
}

.footer__item-link {
  display: block;
  padding-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: $primary;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;

  &:hover {
    border-bottom-color: $primary;
  }

  &:focus-visible {
    border-color: $primary;
    outline: none;
  }

  &:active {
    color: $additional;
    border-bottom-color: transparent;
  }

  &:disabled {
    color: $disabled;
    pointer-events: none;
  }

  @media ($desktop) {
    margin-bottom: 19px;
    padding: 14px 0 3px;
    font-size: 16px;
  }
}

.footer__telephone {
  display: none;

  &:hover {
    color: $additional20;
  }

  &:focus-visible {
    color: $additional;
  }

  &:active {
    color: $active;
  }

  &:disabled {
    color: $disabled;
  }

  @media ($desktop) {
    position: relative;
    top: 2px;
    left: 3px;
    display: block;
    padding: 12px 0 22px;
    font-size: 18px;
    font-weight: 800;
    line-height: 1;
    color: $primary;
    text-decoration: none;
  }
}

.footer__socials {
  @include list-resseting;

  display: flex;
  margin-bottom: 23px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  @media ($tablet) {
    width: 100%;
    margin-bottom: 0;
  }

  @media ($desktop) {
    gap: 13px;
  }
}

.footer__social {
  width: 32px;
  height: 30px;
}

.footer__social-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid $stroke-br;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 30px;
    background-color: $primary;
    translate: -50% -50%;
  }

  &:hover {
    border-color: $primary;
  }

  &:focus-visible {
    border-color: transparent;
  }

  &:active {
    background-color: $additional;
    border-color: transparent;

    &::before {
      background-color: $white;
    }
  }

  &:disabled {
    background-color: $white;
    border-color: $disabled;

    &::before {
      background-color: $disabled;
    }
  }
}

.footer__social-link--vk::before {
  width: 17px;
  height: 9px;
  mask-image: url("/__spritemap#sprite-vk-view");
  mask-repeat: no-repeat;
}

.footer__social-link--odnoklassniki::before {
  width: 10px;
  height: 16px;
  mask-image: url("/__spritemap#sprite-odnoklassniki-view");
  mask-repeat: no-repeat;
}

.footer__social-link--reddit::before {
  width: 15px;
  height: 15px;
  mask-image: url("/__spritemap#sprite-reddit-view");
  mask-repeat: no-repeat;
}

.footer__policy {
  display: block;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: $primary;
  text-decoration: none;
  text-align: center;

  @media ($tablet) {
    width: 100%;
  }

  @media ($desktop) {
    margin-top: 9px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
