.form {
  position: relative;
  top: -8px;
  background:
    image-set(
      url("../../img/form/form-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/form/form-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/form/form-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../img/form/form-mobile@2x.jpg") type("image/jpeg") 2x,
    );
  background-repeat: no-repeat;
  background-size: cover;

  @media ($tablet) {
    top: -4px;
    background:
      image-set(
        url("../../img/form/form-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/form/form-tablet@2x.webp") type("image/webp") 2x,
        url("../../img/form/form-tablet@1x.jpg") type("image/jpeg") 1x,
        url("../../img/form/form-tablet@2x.jpg") type("image/jpeg") 2x,
      );
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media ($desktop) {
    top: -6px;
    background:
      image-set(
        url("../../img/form/form-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/form/form-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/form/form-desktop@1x.jpg") type("image/jpeg") 1x,
        url("../../img/form/form-desktop@2x.jpg") type("image/jpeg") 2x,
      );
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.form__container {
  width: 320px;
  margin: 0 auto;
  padding: 177px 31px 174px;

  @media ($tablet) {
    width: 768px;
    padding: 186px 204px 184px;
  }

  @media ($desktop) {
    width: 1440px;
    padding: 296px 240px 293px;
  }
}

.form__container h2 {
  margin: 0;
  margin-bottom: 17px;
  font-size: 22px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  color: $white;

  @media ($tablet) {
    margin-bottom: 24px;
    font-size: 25px;
  }

  @media ($desktop) {
    margin-bottom: 18px;
    font-size: 35px;
  }
}

.form__container p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: $white;

  @media ($tablet) {
    margin-bottom: 24px;
    font-size: 16px;
  }

  @media ($desktop) {
    margin-bottom: 39px;
    font-size: 16px;
  }
}

.form__container p br {
  @media ($tablet) {
    display: none;
  }
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media ($tablet) {
    gap: 12px;
  }

  @media ($desktop) {
    flex-direction: row;
    gap: 30px;
  }
}

.form__label {
  position: relative;
}

.form__input {
  width: 100%;
  padding: 17px 15px 12px;
  font-family: $basic-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: $primary;
  border: 1px solid transparent;
  border-radius: 2px;

  &::placeholder {
    position: relative;
    top: -3px;
    left: -1px;
    color: transparent;
  }

  &:focus-visible::placeholder {
    color: $additional;
  }

  &:hover {
    border-color: $additional;
  }

  &:focus-visible {
    border-color: $primary;
    outline: none;
  }

  &:disabled {
    border-color: $disabled;
    pointer-events: none;
  }

  &--error {
    border-color: $error;

    &:focus-visible {
      border-color: $error;
    }

    &:hover {
      border-color: $error;
    }
  }

  @media ($tablet) {
    padding: 17px 30px;

    &::placeholder {
      top: 0;
    }
  }

  @media ($desktop) {
    width: 360px;

    &::placeholder {
      top: -1px;
    }
  }
}

.form__text {
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: $primary;
  opacity: 0.5;
  translate: 0 -50%;

  @media ($tablet) {
    left: 30px;
  }
}

.form__label:has(.form__input:focus-visible) > .form__text {
  display: none;
}

.form__button {
  width: 100%;
  background-color: $additional;
  border: 1px solid transparent;
  cursor: pointer;

  @media ($tablet) {
    padding: 20px 20px 17px;
  }

  @media ($desktop) {
    width: 180px;
  }
}
