.tours {
  background-image:
    image-set(
      url("../../img/tours/clouds1-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/tours/clouds1-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/tours/clouds1-mobile@1x.png") type("image/png") 1x,
      url("../../img/tours/clouds1-mobile@2x.png") type("image/png") 2x
    );
  background-repeat: no-repeat;
  background-position: top 10px right;
}

.tours__container {
  padding: 38px 15px 20px;
}

.tours__title {
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 800;
  line-height: 1;
  color: $primary;
}

.tours__navigation {
  display: none;
}

.tours__swiper {
  width: 290px;
  margin-bottom: 25px;
}

.tuors__list {
  @include list-resseting;
}

.tours__card.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.tours__card {
  min-height: 416px;
  padding: 30px 20px;
  background-color: #496647;

  &--elbrus {
    background-image:
      image-set(
        url("../../img/tours/elbrus-mobile@1x.webp") type("image/webp") 1x,
        url("../../img/tours/elbrus-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/tours/elbrus-mobile@1x.jpg") type("image/jpeg") 1x,
        url("../../img/tours/elbrus-mobile@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
  }

  &--belukha {
    background-image:
      image-set(
        url("../../img/tours/belukha-mobile@1x.webp") type("image/webp") 1x,
        url("../../img/tours/belukha-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/tours/belukha-mobile@1x.jpg") type("image/jpeg") 1x,
        url("../../img/tours/belukha-mobile@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
  }

  &--fisht {
    background-image:
      image-set(
        url("../../img/tours/fisht-mobile@1x.webp") type("image/webp") 1x,
        url("../../img/tours/fisht-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/tours/fisht-mobile@1x.jpg") type("image/jpeg") 1x,
        url("../../img/tours/fisht-mobile@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
  }

  &--managara {
    background-image:
      image-set(
        url("../../img/tours/managara-mobile@1x.webp") type("image/webp") 1x,
        url("../../img/tours/managara-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/tours/managara-mobile@1x.jpg") type("image/jpeg") 1x,
        url("../../img/tours/managara-mobile@2x.jpg") type("image/jpeg") 2x
      );
    background-repeat: no-repeat;
  }
}

.tours__info-wrapper {
  display: flex;
  margin-bottom: 14px;
  flex-wrap: wrap;
  gap: 12px 5px;
  align-items: center;
}

.tours__info-name {
  position: relative;
  width: min-content;
  margin: 0;
  padding: 7px 13px 9px 34px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: $white;
  background-color: $additional;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 16px;
    width: 9px;
    height: 12px;
    mask-image: url("/__spritemap#sprite-pin-view");
    background-color: $white;
    translate: 0 -50%;
  }
}

.tours__info-days {
  display: flex;
  width: min-content;
}

.tours__info-value {
  position: relative;
  margin: 0;
  padding: 7px 0 8px 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    translate: 0 -50%;
    background-color: $white;
  }
}

.tours__info-value--day {
  margin-right: 14px;

  &::before {
    mask-image: url("/__spritemap#sprite-sun-view");
  }
}

.tours__info-value--night {
  &::before {
    mask-image: url("/__spritemap#sprite-night-view");
  }
}

.tours__info-programs {
  @include list-resseting;
}

.tours__title-card {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 80px;
    height: 1px;
    background-color: $white20;
  }
}

.tours__programs {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 5px 8px;
}

.tours__program-name {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: $white;
  grid-row: 1 / 2;
}

.tours__program-value {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  color: $white;
  grid-row: 2 / 3;
  align-self: center;

  &--level-4 {
    width: 84px;
    height: 16px;
    background-color: $white;
    mask-image: url("/__spritemap#sprite-stars4-view");
  }

  &--level-5 {
    width: 84px;
    height: 16px;
    background-color: $white;
    mask-image: url("/__spritemap#sprite-stars5-view");
  }
}

.tours__link {
  position: relative;
  display: block;
  width: 212px;
  padding: 10px 28px 10px 10px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.04em;
  color: $primary;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid $primary;
    border-right: 2px solid $primary;
    rotate: -45deg;
    translate: 0 -50%;
  }
}
