/* цвета */

$primary: #2d383f;
$error: #ff121f;
$active: #1c3374;
$stroke-br: rgba(45, 56, 63, 0.2);
$disabled: #999999;
$white: #ffffff;
$white20: rgba(255, 255, 255, 0.2);
$white50: rgba(255, 255, 255, 0.5);
$white10: rgba(255, 255, 255, 0.1);
$additional: #0266c1;
$additional20: rgba(2, 102, 193, 0.2);
$additional10: rgba(2, 102, 193, 0.1);
$overlay50: rgba(0, 0, 0, 0.5);
$dark: #030a1a;

/* дисплей */
$tablet: "min-width: 768px";
$desktop: "min-width: 1440px";
